<h1 style="text-align: center;"><span style="color: #ff0000;">Welcome to Student Application on CloudBlitz.</span></h1>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://cloudblitz.in/wp-content/uploads/2019/05/cloudblitz-logo-small.png" alt="" /></p>
<p>&nbsp;</p>
<h2 style="text-align: center;"><a href="student"><strong>Enter to Student Application</strong></a></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
